nav {
  text-align: center;
  flex: 1;
  margin-top: var(--largeSpacing);
  margin-bottom: var(--largeSpacing);
}

main {
  gap: var(--largeSpacing)
}

article {
  border-bottom: 1px solid var(--body-accent-color);
}

article:last-child {
  border-bottom: none;
}

article h1 {
  text-transform: capitalize;
}

/* Microformats */
/* On the index page, do not display the author link as it's always me */
a[rel=author] {
  display: none;
}

a[rel=permalink] {
  display: none;
}

.h-card .p-name {
  display: none;
}