Default layouts

html, body {
  /* min-height: 100vh; */
  margin: 0;
  padding: 0;
}

/* The article fills all the space between header & footer */
body {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: column;
  padding: 0 16vw 0 16vw;
  text-align: center;
}

main {
  flex: auto;
  padding: 1.38rem 27.5vw 0 27.5vw;
}

nav {
  text-align: center;
}

/* article {
  flex: 1;
  margin-bottom: 2em;
} */

/* header,
footer,
nav,
article {
  justify-content: center;
  display: flex;
} */

/* header { */
  /* text-align: center; */
  /* margin-bottom: 2em;   */

  /* the content will take up 68VW of the screen */
  /* (100 - 68) / 2 = 16vw on each side */
  /* padding: 0 16vw 0 16vw;  */
/* } */

@media screen and (max-width: 991px) {
  /* start of large tablet styles */
  header {
    /* the content will take up 90vw of the screen */
    /* (100 - 90) / 2 = 5vw on each side */
    padding: 0 5vw 0 5vw;
  }

  article  {
    /* the content will take up 80vw of the screen */
    /* (100 - 80) / 2 = 10vw on each side */
    padding: 10vw;
  }
}

@media screen and (max-width: 767px) {
  /* start of medium tablet styles */
  header {
    padding: 0 5vw 0 5vw;
  }

  article {
    padding: 0 10vw 0 10vw;
  }
}

@media screen and (max-width: 479px) {
  /* start of phone styles */
  header {
    padding: 0 1vw 0 1vw;    
  }

  article .content {
    padding: 0 5vw 0 5vw;    
  }
} 
