body {
  background-color: #fbfaee;
  color: #000;
}

header {
  background-color: #7a9ca1;
  color: #382a2a;
  text-shadow: 1px 1px 2px #000;
}

h1 a {
  text-decoration: none;
}

h1 a:hover {
  text-decoration: underline;
}

article .content {
  border-bottom: 1px solid #ccc;
  margin-bottom: 1em;
}

a {
  color: #382a2a;
  text-decoration: underline;
}

a:hover {
  color: #000;
}

footer {
  background-color: #382a2a;
  padding: 20px;
  color: #fbfaee;
  text-align: center;
}

footer a {
  color: #fbfaee;
}

.published-date {
  color: #5bc1b2;
  font-weight: lighter;
}

article img {
  width: 100%;
}

.u-photo {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  box-shadow: 0 0 2px 0 black;
  border-radius: 50%;
}

.p-name {
  display: none;
}

.name {
  display: inline-block;
}

.hidden {
  display:none;
}

.cityicon {
  height: 70px;
}