<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>App-dev.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>1E6C263F97149ACF76CDE966EB3330D9A1EE6964</string>
				<key>dateExpires</key>
				<string>2027-09-08</string>
				<key>type</key>
				<string>Cloud Managed iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1E6C263F97149ACF76CDE966EB3330D9A1EE6964</string>
						<key>dateExpires</key>
						<string>2027-09-08</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Capacitor.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VWMV29L9L9</string>
						<key>name</key>
						<string>Xello Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>6.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1E6C263F97149ACF76CDE966EB3330D9A1EE6964</string>
						<key>dateExpires</key>
						<string>2027-09-08</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorCamera.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VWMV29L9L9</string>
						<key>name</key>
						<string>Xello Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>6.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1E6C263F97149ACF76CDE966EB3330D9A1EE6964</string>
						<key>dateExpires</key>
						<string>2027-09-08</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorKeyboard.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VWMV29L9L9</string>
						<key>name</key>
						<string>Xello Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>6.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1E6C263F97149ACF76CDE966EB3330D9A1EE6964</string>
						<key>dateExpires</key>
						<string>2027-09-08</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorStatusBar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VWMV29L9L9</string>
						<key>name</key>
						<string>Xello Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>6.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1E6C263F97149ACF76CDE966EB3330D9A1EE6964</string>
						<key>dateExpires</key>
						<string>2027-09-08</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Cordova.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VWMV29L9L9</string>
						<key>name</key>
						<string>Xello Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>6.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1E6C263F97149ACF76CDE966EB3330D9A1EE6964</string>
						<key>dateExpires</key>
						<string>2027-09-08</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VWMV29L9L9</string>
						<key>name</key>
						<string>Xello Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>2.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1E6C263F97149ACF76CDE966EB3330D9A1EE6964</string>
						<key>dateExpires</key>
						<string>2027-09-08</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VWMV29L9L9</string>
						<key>name</key>
						<string>Xello Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>10.29.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1E6C263F97149ACF76CDE966EB3330D9A1EE6964</string>
						<key>dateExpires</key>
						<string>2027-09-08</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VWMV29L9L9</string>
						<key>name</key>
						<string>Xello Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>10.29.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1E6C263F97149ACF76CDE966EB3330D9A1EE6964</string>
						<key>dateExpires</key>
						<string>2027-09-08</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VWMV29L9L9</string>
						<key>name</key>
						<string>Xello Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>7.13.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1E6C263F97149ACF76CDE966EB3330D9A1EE6964</string>
						<key>dateExpires</key>
						<string>2027-09-08</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Lottie.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VWMV29L9L9</string>
						<key>name</key>
						<string>Xello Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>4.4.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1E6C263F97149ACF76CDE966EB3330D9A1EE6964</string>
						<key>dateExpires</key>
						<string>2027-09-08</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>XelloAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VWMV29L9L9</string>
						<key>name</key>
						<string>Xello Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>VWMV29L9L9.world.xello.communities.dev</string>
				<key>com.apple.developer.team-identifier</key>
				<string>VWMV29L9L9</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>App-dev.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>d1c68530-754d-4644-8384-6a749b88149b</string>
				<key>dateExpires</key>
				<string>2025-09-08</string>
				<key>name</key>
				<string>iOS Team Inhouse Provisioning Profile: world.xello.communities.dev</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>VWMV29L9L9</string>
				<key>name</key>
				<string>Xello Inc</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
